.profile {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 30px 40px;
}

.profile__caption {
  margin: 0 0 120px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 410px;
  width: 100%;
  height: 100%;
}

.profile__label {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;

  transition: all 0.1s ease;
}

.profile__label_border-bottom_gray {
  border-bottom: 1px solid #424242;
}

.profile__label-text {
  margin: 0;
  min-width: 20%;
}

.profile__input {
  flex-grow: 1;
  padding: 16px 0;
  border: none;
  background-color: transparent;

  font-weight: 400;
  color: #ffffff;
  text-align: right;

  outline: none;
}

.profile__input_invalid {
  color: #EE3465;
}

.profile__label_border-bottom_green {
  border-bottom: 1px solid #3DDC84;
}

.profile__message {
  margin: 0 0 15px;
  height: 200px;

  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.profile__message_type_success {
  color: #3DDC84;
}

.profile__button {
  padding: 0;
  border: none;

  background-color: transparent;

  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;

  cursor: pointer;
}

.profile__button_disabled {
  pointer-events: none;
  color: #C2C2C2;
  opacity: 0.2;
}

.profile__button_type_submit {
  margin: 0 0 16px;

  font-weight: 400;
  color: #ffffff;
}

.profile__button_type_signout {
  background-color: transparent;

  font-weight: 500;
  color: #EE3465;
}

@media screen and (max-width: 320px) {
  .profile {
    box-sizing: border-box;
    height: calc(100vh - 66px);
  }

  .profile__caption {
    margin: 80px 0;
  }

  .profile__button_type_submit {
    margin-top: auto;
  }
}
