.promo {
  margin: 0 40px;
  border-radius: 10px;

  background-color: #272727;
}

.promo__title {
  margin: 0 auto;
  padding: 160px 0;

  max-width: 730px;

  background-image: url('../../../images/promobg.svg');
  background-repeat: no-repeat;
  background-position: center;

  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.promo__nav {
  padding: 0 0 30px;
  justify-content: center;
}

.promo__link {
  padding: 10px 17px;
  border-radius: 10px;

  background-color: #303030;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  transition: all 0.1s ease-out;
}

.promo__link:not(:last-child) {
  margin-right: 10px;
}

.promo__link:hover {
  opacity: 0.7;
}