.techs {
  padding: 100px 70px;
  background-color: #272727;
}

.techs__title {
  margin: 0;
  padding: 22px 0;
  border-bottom: 1px solid #dadada;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.techs__caption {
  margin: 90px 0 26px;

  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.techs__description {
  margin: 0 auto 100px;
  max-width: 460px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-template-rows: 60px;
  grid-auto-rows: 60px;
  gap: 10px;
  justify-content: center;

  margin: 0;
  padding: 0;
  list-style: none;
}
.techs__item {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: #303030;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__description {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    grid-template-rows: 57px;
    grid-auto-rows: 57px;

    font-size: 12px;
    line-height: 14px;
  }
}
